*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #233142;
}

@media screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

body {
  background: linear-gradient(
    to right,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}

a {
  text-decoration: none;
}

#home {
  height: 100vh;
}

header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 30px 70px;
  align-items: center;
  background: linear-gradient(
    to right,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );

}

.menu {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
}

.menu li {
  margin: 0 0 0 20px;
}

#burger {
  height: 35px;
  width: 30px;
  background: none;
  border: none;
  z-index: 100;
}

#burger span {
  background-color: red;
  width: 100%;
  height: 2px;
  display: block;
  margin: 6px 0;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  border: 1px solid red;
}

#greet {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 70vw;
}

#greet p {
  text-align: center;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.social-links img {
  width: 20px;
  height: 20px;
}

#works {
  border: 1px solid white;
}

#contact-page {
  height: 100vh;
  display: flex;
  align-items: center;
}

#contact {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 70vw;
  height: 50vh;
}

#contact p {
  text-align: center;
}

form {
  height: 30vh;
}

input {
  width: 25vw;
  height: 34px;
  padding: 5px;
  border: none;
  border-radius: 8px;
}

textarea {
  height: 70px;
  width: 25vw;
  padding: 5px;
  border: none;
  border-radius: 8px;
}

form ul {
  list-style: none;
  /* border: 1px solid yellow; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form button {
  border-radius: 8px;
  padding: 10px 15px;
  /* background: rgb(190, 228, 210); */
  border: none;
  
}
